<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Invoice</div>
  <div class="page__content shadow p-3 position-relative">
    <!-- <div class="page__content-data position-absolute ">
        List of Your Invoices Content Goes Here -->

    <div class="page__content-data position-absolute">
      <div class="container flex_facture">
        <div class="card">
          <div class="imgBx">
            <img src="../assets/cardsLogo.png" />
          </div>
          <div class="contentBx">
            <h2>Facture N° 1</h2>
            <div class="size">
              <h3>Secteur:</h3>
              <span>STEG</span>
              
            </div>
            <div class="price">
              <h3 style="color: azure;">Price :</h3>
              <span> 200 DT</span>
            </div>
            
            <a href="#">Pay Now</a>
          </div>
        </div>
        <div class="card">
          <div class="imgBx">
            <img src="../assets/cardsLogo.png" />
          </div>
          <div class="contentBx">
            <h2>Facture N° 2</h2>
            <div class="size">
              <h3>Secteur:</h3>
              <span>SONED</span>
              
            </div>
            <div class="price">
              <h3 style="color: azure;">Price :</h3>
              <span> 500 DT</span>
            </div>
            
            <a href="#">Pay Now</a>
          </div>
        </div>

        <div class="card">
          <div class="imgBx">
            <img src="../assets/cardsLogo.png" />
          </div>
          <div class="contentBx">
            <h2>Facture N° 3</h2>
            <div class="size">
              <h3>Secteur:</h3>
              <span>STEG</span>
              
            </div>
            <div class="price">
              <h3 style="color: azure;">Price :</h3>
              <span> 80 DT</span>
            </div>
            
            <a href="#">Pay Now</a>
          </div>
        </div>

        
          

        
      </div>
    </div>
    <!-- <button  mat-raised-button color="danger"> test</button> -->
  </div>
</div>
