<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/invoiceLogoPage.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2" style="color: black;"><strong><strong>APPLICATIONS</strong></strong></h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Invoices
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="#"> <mat-icon>edit</mat-icon> Archive 1 </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="#"> <mat-icon>Archive</mat-icon> Archive 2 </a>
    
  </mat-nav-list>
  